.splash-navbar {
 margin: 0 11em;

 display: flex;
 justify-content: space-between;

 font-family: 'Varela Round';
 font-size: 0.95em;

 .splash-navbar-right, .splash-navbar-left {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   
   li {
     padding: 1rem;
   }

  }
}
li img {
  height: 50px;
  width: 50px;
}