div.splash-grid {
  display: grid;
  grid-template-columns: 9.907407407% 13.333333333% 33.148148148% 22px 29.259259259% 12.314814815%;
  grid-template-rows: 100px 69px minmax(auto, 125px) auto;

  max-width: 1080px;
  margin: 0 191px;

  h1.headline {
    font-size: 4rem;
    font-family: 'Arimo';
    line-height: 1.12;
    letter-spacing: -.8px;

    z-index: 5;
    grid-column: 2/span 4;
    grid-row: 1/span 2;
    margin-bottom: 0;
    margin-left: 5rem!important;
  }

  p.sales-copy {
    font-family: 'Varela Round';
    font-size: 1em;
    font-weight: 590;
    line-height: 1.44444444;
    letter-spacing: -.2px;

    grid-column: 5/span 4;
    grid-row: 3;

    margin-top: 1em;
  }

  img.splash-image {
    height: 502px;
    width: 650px;
    
    grid-column: 1/span 2;
    grid-row: 2/span 3;
  }

  div.splash-signup {
    grid-column: 5/span 2;
    grid-row: 4;
    align-self: start;
    margin-bottom: 2rem;
  }
}

